
# Nuxt
.nuxt
nuxt.d.ts
.output

# Node
node_modules

# Logs
*.log

# dotenv
.env

# Serverless directories
.serverless

# macOS
.DS_Store

# Vim swap files
*.swp

# IDE / Editor
.idea

# icloud
.icloud