@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// モバイルのブレイクポイントを追加
$mobile: 370px;

// widescreen/fullhd breakpoint を無効に
$widescreen-enabled: false;
$fullhd-enabled: false;

// 背景色を灰色に
$body-background-color: #eee;

// テキストカラーを変更
$text: #333;

// フォントを変更
$family-primary: 'Montserrat', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
  meiryo, sans-serif;

// ヘッダーナビの背景を透明に
$navbar-background-color: transparent;

// 行の高さを日本語用に少し高く
$body-line-height: 1.61;

// ナビバー
$navbar-breakpoint: 0;
$navbar-burger-color: transparent;
.navbar {
  padding-top: 20px;
}
.navbar-brand {
  padding: 24px 28px 20px;
  @media (max-width: $desktop) {
    padding: 28px 28px 20px;
  }
  @media (max-width: $tablet) {
    padding: 32px 24px 20px;
  }
}
.navbar-end {
  .navbar-item {
    padding: 24px;
  }
}
.navbar-menu {
  background-color: transparent;
  box-shadow: none;
}

// ページネーション
$pagination-current-background-color: #424242;
$pagination-color: #757575;

// ドロップダウン
$dropbox-text-color: #757575;
.dropdown {
  width: 100%;
  .dropdown-text {
    font-size: 0.8175rem;
    font-weight: bold;
    color: $dropbox-text-color;
  }
  svg.fa-angle-down {
    color: #bdbdbd;
  }
  .dropdown-trigger,
  .dropdown-menu,
  button {
    width: 100%;
    justify-content: space-between;
  }
}

// モーダル背景
.modal-background {
  background-color: rgba(30, 30, 30, 0.6) !important;
}

@import '~bulma';
