@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/**
 * 共通変数
 */

$font-weight-400: 400;
$font-weight-700: 700;

$scale4: 4px;
$scale8: 8px;
$scale12: 12px;
$scale16: 16px;
$scale20: 20px;
$scale24: 24px;
$scale28: 28px;
$scale32: 32px;
$scale36: 36px;
$scale40: 40px;

$black-color: #333;
$gray-color: #eee;

/**
 * bulmaのカスタマイズ
 * https://bulma.io/documentation/customize/variables/
 */

// モバイルのブレイクポイントを追加
$mobile: 370px;

// widescreen/fullhd breakpoint を無効に
$widescreen-enabled: false;
$fullhd-enabled: false;

// 背景色を灰色に
$body-background-color: $gray-color;

// テキストカラーを変更
$text: $black-color;

// フォントを変更
$family-primary: 'Montserrat', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
  meiryo, sans-serif;

// ヘッダーナビの背景を透明に
$navbar-background-color: transparent;

// 行の高さを日本語用に少し高く
$body-line-height: 1.61;

// ページネーション
$pagination-current-background-color: #424242;
$pagination-color: #757575;

// ナビバー
$navbar-breakpoint: 0;
$navbar-burger-color: transparent;

@import '~bulma';
