@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

/**
 * 共通変数
 */

$font-size-070rem: 0.7rem;
$font-size-076rem: 0.76rem;
$font-size-081rem: 0.8175rem;
$font-size-086rem: 0.86rem;
$font-size-092rem: 0.92rem;
$font-size-096rem: 0.96rem;
$font-size-100rem: 1rem;
$font-size-104rem: 1.04rem;
$font-size-110rem: 1.1rem;
$font-size-120rem: 1.2rem;
$font-size-124rem: 1.24rem;
$font-size-128rem: 1.28rem;
$font-size-132rem: 1.32rem;
$font-size-140rem: 1.4rem;
$font-size-131rem: 1.3125rem;
$font-size-160rem: 1.6rem;
$font-size-168rem: 1.68rem;
$font-size-180rem: 1.8rem;

$font-weight-200: 200;
$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-900: 900;

$line-height-100: 1;
$line-height-160: 1.6;
$line-height-200: 2;

$letter-spacing-1: 1px;

$z-index-minus-1: -1;
$z-index-1: 1;

$border-radius-half: 50%;

$border-width1: 1px;
$border-width2: 2px;
$border-width3: 3px;
$border-width12: 12px;

$border-radius2: 2px;
$border-radius4: 4px;
$border-radius8: 8px;
$border-radius10: 10px;
$border-radius24: 24px;
$border-radius34: 34px;
$border-radius40: 40px;

$border-radius-rate20: 20%;
$border-radius-rate50: 50%;

$scale4: 4px;
$scale8: 8px;
$scale12: 12px;
$scale16: 16px;
$scale20: 20px;
$scale24: 24px;
$scale28: 28px;
$scale32: 32px;
$scale36: 36px;
$scale40: 40px;
$scale44: 44px;
$scale48: 48px;
$scale56: 56px;
$scale60: 60px;
$scale64: 64px;
$scale80: 80px;
$scale96: 96px;
$scale112: 112px;

$scale-minus16: -16px;

$dark-black-color: #111;
$black-color: #333;
$dark-gray-color: #263238;
$gray-color: #eee;
$light-gray-color: #efefef;
$white-color: #fff;

$link-gray-color: #726c6c;
$border-gray-color: #e0e0e0;

$share-hb-button-color: #00a4de;
$share-tw-button-color: #1da1f2;
$share-fb-button-color: #1877f2;
$share-pk-button-color: #ee4056;

$kaereba-rakuten-button-color: #ef5350;
$kaereba-amazon-button-color: #ff9800;
$kaereba-yahoo-button-color: #2196f3;

$side-bar-link-color: $link-gray-color;
$side-bar-separator-border-color: $border-gray-color;
$capture-image-border-color: $border-gray-color;

$sitemap-link-color: $link-gray-color;

$ad-bg-color: #c5e1a5;
$bg-secondary-color: #fafafa;
$container-shadow-color: rgba(0, 0, 0, 0.1);
$photo-image-shadow-color: rgba(67, 133, 187, 0.07);
$photo-image-blend-color: rgba(230, 193, 61, 0.1);
$photo-image-frame-bg-color: #fafafa;
$photo-image-frame-border-color: #cfd8dc;
$photo-image-frame-tilt-top: -10px;
$photo-image-frame-tilt-left: -25px;
$photo-image-frame-tilt-right: $photo-image-frame-tilt-left;
$photo-image-frame-tilt-bottom: $photo-image-frame-tilt-top;

$link-box-shadow-color: $light-gray-color;
$link-image-shadow-color: $gray-color;
$link-hover-color: #666;
$link-hover-bg-color: rgba(167, 255, 235, 0.24);

$supplement-info-bg-color: rgba(255, 249, 196, 0.6);
$supplement-warning-bg-color: rgba(255, 205, 210, 0.6);
$supplement-border-color: #ededed;

$toc-bg-color: rgba(250, 250, 250, 0.2);

$return-top-button-color: #424242;

$repeating-linear-gradient-light-stripe-color: $border-gray-color;
$repeating-linear-gradient-dark-stripe-color: #999;

$list-disc-box-shadow-color: rgba(97, 97, 97, 0.15);
$list-disc-bg-color: $dark-gray-color;
$list-number-bg-color: $dark-gray-color;

$linear-gradient-white-color: rgba(255, 255, 141, 0);
$linear-gradient-yellow-color: #fff59d;

$blockquote-text-color: #555;
$blockquote-bg-color: $light-gray-color;
$blockquote-icon-color: #cfcfcf;
$blockquote-cite-text-color: #888;

$lazy-load-gradient-white-color: rgba(250, 250, 250, 0.85);
$lazy-load-gradient-light-gray-color: rgba(239, 235, 233, 0.85);

/**
 * bulmaのカスタマイズ
 * https://bulma.io/documentation/customize/variables/
 */

// モバイルのブレイクポイントを追加
$mobile: 370px;

// widescreen/fullhd breakpoint を無効に
$widescreen-enabled: false;
$fullhd-enabled: false;

// 背景色を灰色に
$body-background-color: $gray-color;

// テキストカラーを変更
$text: $black-color;

// フォントを変更
$family-primary: 'Montserrat', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
  meiryo, sans-serif;

// ヘッダーナビの背景を透明に
$navbar-background-color: transparent;

// 行の高さを日本語用に少し高く
$body-line-height: 1.61;

// ページネーション
$pagination-current-background-color: #424242;
$pagination-color: #757575;

// ナビバー
$navbar-breakpoint: 0;
$navbar-burger-color: transparent;

@import '~bulma';
